@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/fonts/MaterialIcons/material-icons.scss";

html.medium-font {
  font-size: 1rem;
}
html.large-font {
  font-size: 1.1rem;
}
html.xlarge-font {
  font-size: 1.2rem;
}
html.xxlarge-font {
  font-size: 1.3rem;
}
html.xxxlarge-font {
  font-size: 1.4rem;
}
html.xxxxlarge-font {
  font-size: 1.5rem;
}
.rtl .rightToLeft {
  @apply text-right;
}
.rtl .right {
  @apply pr-8 justify-between;
}

html,
body {
  // touch-action: none;
  touch-action: pan-x, pan-y;
}
